*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# --- Android / Gradle ---
**/build/
.gradle/
local.properties

# NDK / CMake
.cxx/
.externalNativeBuild/

# Android Studio
.idea/
*.iml
captures/

# OS misc
.DS_Store
*.log

# Keystores & signing
*.jks
*.keystore
key.properties

# Misc
# (оставь gradle wrapper в репозитории!)